body {
  background-size: 1045px 665px;
  background-repeat: no-repeat;
  background-image: url("./assets/leaf.jpg");
}

.row {
  display: flex;
}

.unit {
  width: 40px;
  height: 40px;
  margin: .5px;
  border-radius: 4px;
}

.snake {
  background-size: 50px 50px;
  background-position: center;
  background-image: url("./assets/earth.png");
  border-radius: 18px;
  padding: .5px;
  margin: 0px;
  box-shadow: 10px 10px 15px #004d00;
}

.head {
  background-size: 80px 90px;
  background-image: url("./assets/head.png");
}

.bottompanel {
  opacity: .75;
  background-image: url("./assets/bottom.jpg");
  background-size: 1300px 300px;
  background-position: bottom;
  width: 1030px;
  height: 105px;
  border-radius: 4px;
}

.bottom {
  display: flex;
  margin-top: 10px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-shadow: -2px 2px white;
}

.lower {
  margin-top: 0px;
  background-position: top;
  padding: 15px;
  width: 1000px;
  font-size: 16.5px;
}

.button {
  width: 130px;
  border-radius: 4px;
  margin: 5px;
  font-style: helvetica;
  font-size: 20px;
  padding: 20;
}

.p1 {
  color: red;
  font-size: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.restart {
  background-color: yellow;
}

.pause {
  background-color: yellow;
}

.score {
  text-align: center;
  padding: 15px;
}


/* FRUITS */
.fruit {
  background-size: 40px 40px;
  background-position: center;
  border-radius: 30px;
}

.cat {
  background-image: url("./assets/cat.png");
  border-radius: 0px;
}

.peace {
  background-image: url("./assets/peace.png");
  border-radius: 0px;
}

.orange {
  background-image: url("./assets/fruit.png");
  background-size: 50px 50px;
}

.heart {
  background-image: url("./assets/heart.png");
  border-radius: 0px;
}

.flower {
  background-image: url("./assets/flower.png");
  background-size: 45px 45px;
}
